<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>


<h1>Contacts</h1>

<form action="/" enctype="multipart/form-data" method="POST">
    <label for="name">Name: </label><br>
    <input type="text" name="name" autocomplete="off"> <br><br>

    <label for="number">Number: </label><br>
    <input type="text" name="number" autocomplete="off"> <br><br>

    <label for="description">Description: </label><br>
    <input type="text" name="description" autocomplete="off"> <br><br>

    <label for="mp3_path">Path to voice recording (mp3 file): </label><br>
    <input type="text" name="mp3_path" autocomplete="off"> <br><br>

    <input type="submit" value="Add To Contacts">
</form>

<script>
    // STORE TOKEN INTO LOCALSTORAGE
    localStorage.setItem("{{name}}", "{{contact}}");
</script>

<br><br>

<audio id="audio">
    <source src="" id="thesource" />
</audio>
<input type="file" id="upload" title="Upload File" />


<button type="button" onclick="localStorage.clear()">clear contacts</button> <br><br>

<form action="/" enctype="multipart/form-data" method="POST">
    <label for="friend_box">Chat with: </label>
    <input type="text" name="friend_box" autocomplete="off"> 
    <input type="submit" value="Go to Chat">
</form>

<!--
<script>
    // Assuming you have set a value in localStorage
    const myValue = localStorage.getItem("{{friend}}");

    // Send the value to Flask server using AJAX (jQuery example)
    $.ajax({
        url: '/tryhtml',
        type: 'POST',
        data: { 'value': myValue },
        success: function(response) {
            console.log('Data sent successfully!');
        },
        error: function(error) {
            console.error('Error sending data:', error);
        }
    });
</script> -->

<!--
<form action="/chatpage" method="GET"> 
    <input type="submit" name="chat" value="Go to chat"> 
</form>
-->

</body>
</html>
